<!-- Bouton d'impression (Exclu de l'impression via CSS) -->
<header style="padding: 20px; text-align: center;">
    <button class="btn btn-primary" (click)="printNgContainer()"
        style="display: inline-flex; align-items: center; gap: 8px;">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
            <path
                d="M648-624v-120H312v120h-72v-192h480v192h-72Zm-480 72h625-625Zm539.79 96q15.21 0 25.71-10.29t10.5-25.5q0-15.21-10.29-25.71t-25.5-10.5q-15.21 0-25.71 10.29t-10.5 25.5q0 15.21 10.29 25.71t25.5 10.5ZM648-216v-144H312v144h336Zm72 72H240v-144H96v-240q0-40 28-68t68-28h576q40 0 68 28t28 68v240H720v144Zm73-216v-153.67Q793-530 781-541t-28-11H206q-16.15 0-27.07 11.04Q168-529.92 168-513.6V-360h72v-72h480v72h73Z" />
        </svg>
        Imprimer le document
    </button>
</header>

<div class="frida-wrapper">
    <main #contenuFrida class="a4-paper">

        <div *ngIf="!frida && !temoins && !heritiers" style="text-align: center; color: red;">
            <p>Aucune donnée n'a pu être chargée pour générer ce document.</p>
        </div>

        <!-- En-tête Officiel Algérien -->
        <div class="header-officiel">
            <div style="font-size: 14pt;">الجمهورية الجزائرية الديمقراطية الشعبية</div>
            <div style="font-size: 14pt; margin-bottom: 20px;">وزارة العدل</div>

            <div style="display: flex; justify-content: space-between; align-items: flex-start;">
                <div style="text-align: right; line-height: 1.4;">
                    مكتب التوثيق<br>
                    <span>للأستاذ(ة) : <span class="bold">{{frida?.notaire}}</span></span>
                </div>
                <div style="text-align: left; line-height: 1.4;">
                    رقم : {{frida?.numFrida}}<br>
                    بتاريخ : {{frida?.dateCreation}}
                </div>
            </div>

            <div style="margin-top: 1cm;">
                <div class="header-titre-principal">فـريـضـة</div>
                <span *ngIf="frida?.defunt.identite.sexe == 'ذكر'; else feminin">المرحوم</span><ng-template
                    #feminin>المرحومة</ng-template>
                <span> : </span>
                <span class="ocr-data">{{frida?.defunt.identite.nom}} {{frida?.defunt.identite.prenom}}</span>

            </div>
        </div>

        <article class="contenu">
            <!-- Section Déclaration du défunt -->
            <section class="section">
                <div>
                    <span>بناءً على طلب المعنيين، حضر أمامنا نحن الأستاذ(ة) </span>
                    <span class="bold">{{frida?.notaire}}</span>
                    <span>، الموثق(ة)، لإثبات فريضة </span>
                    <span *ngIf="frida?.defunt.identite.sexe == 'ذكر'; else feminin">المرحوم</span><ng-template
                        #feminin>المرحومة</ng-template>
                    <span> : </span>
                    <span class="ocr-data">{{frida?.defunt.identite.nom}} {{frida?.defunt.identite.prenom}}</span>
                    <span>، </span>
                    <span *ngIf="frida?.defunt.identite.sexe == 'ذكر'">بن</span><span
                        *ngIf="frida?.defunt.identite.sexe != 'ذكر'">بنت</span>
                    <span> <span class="ocr-data">{{frida?.defunt.identite.pere}}</span> و <span
                            class="ocr-data">{{frida?.defunt.identite.mere}}</span>، </span>
                    <span>المولود</span><span *ngIf="frida?.defunt.identite.sexe != 'ذكر'">ة</span>
                    <span> بتاريخ <span class="ocr-data">{{frida?.defunt.identite.dateNaissance}}</span> بـ <span
                            class="ocr-data">{{frida?.defunt.identite.lieuNaissance}}</span> (ولاية <span
                            class="ocr-data">{{frida?.defunt.identite.wilaya}}</span>)، </span>
                    <span>من جنسية جزائرية،</span>
                    <span> الحامل</span><span *ngIf="frida?.defunt.identite.sexe != 'ذكر'">ة</span>
                    <span> لرقم التعريف الوطني (NIN) : <span class="ocr-data">{{frida?.defunt.identite.nin}}</span>، </span>
                    <span> بناءً على شهادة ميلاده</span><span *ngIf="frida?.defunt.identite.sexe != 'ذكر'">ا</span>
                    <span> رقم <span class="ocr-data">{{frida?.defunt.identite.numeroPiece}}</span>.</span>
                </div>
            </section>

            <!-- Les temoins -->
            <section class="section">
                <div class="bold" style="margin-bottom: 10px;">بشهادة كل من :</div>
                <div class="liste-temoins">
                    @for (temoin of temoins; track temoin; let i = $index) {
                    <div style="margin-bottom: 10px;">
                        <span> {{ i + 1 }}) - السيد</span><span *ngIf="temoin.identite.sexe != 'ذكر'">ة</span>
                        <span class="ocr-data"> {{temoin.identite.nom}} {{temoin.identite.prenom}}</span>،
                        <span> جزائري</span><span *ngIf="temoin.identite.sexe != 'ذكر'">ة</span><span> الجنسية،</span>
                        <span> المولود</span><span *ngIf="temoin.identite.sexe != 'ذكر'">ة</span>
                        <span> بتاريخ <span class="ocr-data">{{temoin.identite.dateNaissance}}</span>، </span>
                        <span> الساكن</span><span *ngIf="temoin.identite.sexe != 'ذكر'">ة</span>
                        <span> بـ <span class="ocr-data">{{temoin.adresse}}</span>.</span>
                    </div>
                    }
                </div>
                <div style="margin-top: 10px;">
                    <span>اللذان صرحا بمعرفتهما التامة للمرحوم</span><span
                        *ngIf="frida?.defunt.identite.sexe != 'ذكر'">ة</span>
                    <span>، وأقرا بأن ورثته شرعاً وقانوناً هم المذكورون أسفله :</span>
                </div>
            </section>

            <!-- Présentations des héritiers -->
            <section class="section">
                <div class="bold" style="margin-bottom: 10px;">الـورثـة :</div>
                <div class="liste-heritiers">
                    @for (heritier of heritiers; track heritier; let i = $index) {
                    <div style="margin-bottom: 10px;">
                        <span>{{ i + 1 }}) - </span>
                        <!-- Conjoint -->
                        @if (heritier.numParente==2) {
                        <span *ngIf="frida?.defunt.identite.sexe == 'ذكر'; else femininConjoint">أرملته</span><ng-template #femininConjoint>أرملها</ng-template>
                        }
                        <!-- Enfants -->
                        @else if (heritier.numParente==3) {
                        <span>ابن</span><span *ngIf="heritier.identite.sexe != 'ذكر'">ت</span><span>ه</span><span *ngIf="frida?.defunt.identite.sexe != 'ذكر'">ا</span>
                        }
                        <!-- Parents -->
                        @else if (heritier.numParente==4) {
                        <span *ngIf="heritier.identite.sexe == 'ذكر'">والد</span><span *ngIf="heritier.identite.sexe != 'ذكر'">والدت</span><span>ه</span><span *ngIf="frida?.defunt.identite.sexe != 'ذكر'">ا</span>
                        }
                        <!-- Fratrie -->
                        @else if (heritier.numParente==5) {
                        <span *ngIf="heritier.identite.sexe == 'ذكر'">أخو</span><span *ngIf="heritier.identite.sexe != 'ذكر'">أخت</span><span>ه</span><span *ngIf="frida?.defunt.identite.sexe != 'ذكر'">ا</span>
                        }

                        <span> السيد</span><span *ngIf="heritier.identite.sexe != 'ذكر'">ة</span>
                        <span class="ocr-data"> {{heritier.identite.nom}} {{heritier.identite.prenom}}</span>،
                        <span> المولود</span><span *ngIf="heritier.identite.sexe != 'ذكر'">ة</span>
                        <span> بتاريخ <span class="ocr-data">{{heritier.identite.dateNaissance}}</span> بـ <span
                                class="ocr-data">{{heritier.identite.lieuNaissance}}</span> (ولاية <span
                                class="ocr-data">{{heritier.identite.wilaya}}</span>)،</span>
                        <span> جزائري</span><span *ngIf="heritier.identite.sexe != 'ذكر'">ة</span><span> الجنسية،</span>
                        <span> الحامل</span><span *ngIf="heritier.identite.sexe != 'ذكر'">ة</span>
                        <span> لرقم التعريف الوطني (NIN) : <span class="ocr-data">{{heritier.identite.nin}}</span>.</span>
                    </div>
                    }
                </div>
            </section>

            <!-- Calcul et Parts -->
            <section class="section">
                <div class="bold" style="margin-bottom: 10px;">الـقـسـمـة :</div>

                @if (frida?.calcul.nbConjoints!=0 || frida?.calcul.nbGarcons!=0 || frida?.calcul.nbFilles!=0) {
                <div>
                    <span>وبناءً على طلب
                        @if ((frida?.calcul.nbGarcons!=0 || frida?.calcul.nbFilles!=0) && (heritiers?.[1])) {
                        السيد<ng-container *ngIf="heritiers[1]?.identite.sexe != 'ذكر'">ة</ng-container>
                        <span class="ocr-data">{{heritiers[1]?.identite.nom}} {{heritiers[1]?.identite.prenom}}</span>
                        } @else {
                        @if (heritiers?.[0]) {
                        السيد<ng-container *ngIf="heritiers[0]?.identite.sexe != 'ذكر'">ة</ng-container>
                        <span class="ocr-data">{{heritiers[0]?.identite.nom}} {{heritiers[0]?.identite.prenom}}</span>
                        }
                        }
                        ، إحدى الورثة المذكورين أعلاه، تم إعداد هذه الفريضة. وقد صحت بعد العمل والحساب من أصل </span>
                    <span class="bold">{{denominateur_L}}</span>
                    <span> حصة </span>
                    <span dir="ltr" style="display:inline-block;">( {{frida?.calcul.denominateur}} )</span>
                    <span>، موزعة على النحو التالي :</span>
                </div>

                <div class="liste-parts" style="margin-top: 20px;">
                    <!-- Part conjoint -->
                    @if (frida?.calcul.nbConjoints != 0) {
                    <div style="margin-bottom: 15px;">
                        <span>- ل<span
                                *ngIf="frida?.defunt.identite.sexe == 'ذكر'; else femPartConj">لأرملة</span><ng-template
                                #femPartConj>لأرمل</ng-template> : </span>
                        <span class="bold">{{numerateurConjoint_L}}</span>
                        <span> حصة، أي </span>
                        <div class="fraction-box">
                            <span class="num">{{frida?.calcul.numerateurConjoint}}</span>
                            <span class="den">{{frida?.calcul.denominateur}}</span>
                        </div>
                    </div>
                    }

                    <!-- Part garçons -->
                    @if (frida?.calcul.nbGarcons != 0) {
                    <div style="margin-bottom: 15px;">
                        <span>- للأبناء الذكور (</span>
                        @for (heritier of heritiers; track heritier.id; let last = $last) {
                        @if (heritier.numParente>2 && heritier.identite.sexe == 'ذكر') {
                        <span class="ocr-data">{{heritier.identite.prenom}}</span><span *ngIf="!last">، </span>
                        }
                        }
                        <span>) : </span>
                        <span class="bold">{{numerateurGarcons_L}}</span>
                        <span> حصة، أي </span>
                        <div class="fraction-box">
                            <span class="num">{{frida?.calcul.numerateurGarcons}}</span>
                            <span class="den">{{frida?.calcul.denominateur}}</span>
                        </div>
                        <span> لكل واحد منهم</span>
                    </div>
                    }

                    <!-- Part filles -->
                    @if (frida?.calcul.nbFilles != 0) {
                    <div style="margin-bottom: 15px;">
                        <span>- للبنات (</span>
                        @for (heritier of heritiers; track heritier.id; let last = $last) {
                        @if (heritier.numParente>2 && heritier.identite.sexe != 'ذكر') {
                        <span class="ocr-data">{{heritier.identite.prenom}}</span><span *ngIf="!last">، </span>
                        }
                        }
                        <span>) : </span>
                        <span class="bold">{{numerateurFilles_L}}</span>
                        <span> حصة، أي </span>
                        <div class="fraction-box">
                            <span class="num">{{frida?.calcul.numerateurFilles}}</span>
                            <span class="den">{{frida?.calcul.denominateur}}</span>
                        </div>
                        <span> لكل واحدة منهن</span>
                    </div>
                    }

                    <div style="margin-top: 15px; border-top: 1px dotted #ccc; padding-top: 10px;">
                        <span>- المجموع : </span>
                        <div class="fraction-box">
                            <span class="num">{{numerateurVerif}}</span>
                            <span class="den">{{frida?.calcul.denominateur}}</span>
                        </div>
                    </div>
                </div>
                }
            </section>

            <!-- Signature -->
            <div class="signature-area">
                <div class="signature-box">
                    التأشير والختم<br>
                    <span>(الموثق)</span>
                </div>
            </div>

        </article>
    </main>
</div>