<h4>&nbsp;&nbsp;</h4>
<h4>&nbsp;</h4>
<header>
    <div style="align-items: center; display: flex; justify-content: center;">
        <button class="btn btn-primary" (click)="printNgContainer()">
            Imprimer
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#D16D6A">
                <path
                    d="M648-624v-120H312v120h-72v-192h480v192h-72Zm-480 72h625-625Zm539.79 96q15.21 0 25.71-10.29t10.5-25.5q0-15.21-10.29-25.71t-25.5-10.5q-15.21 0-25.71 10.29t-10.5 25.5q0 15.21 10.29 25.71t25.5 10.5ZM648-216v-144H312v144h336Zm72 72H240v-144H96v-240q0-40 28-68t68-28h576q40 0 68 28t28 68v240H720v144Zm73-216v-153.67Q793-530 781-541t-28-11H206q-16.15 0-27.07 11.04Q168-529.92 168-513.6V-360h72v-72h480v72h73Z" />
            </svg>
        </button>
    </div>
</header>

<main #contenuFrida>

    <div *ngIf="!frida && !temoins && !heritiers">
        <p>Aucune donnée sur la frida n'a été chargée.</p>
    </div>

    <article class="contenu">
        <section>
            <div><bdi>رقم : </bdi>&nbsp; {{frida?.numFrida}}</div>
            <div><bdi>في : </bdi>&nbsp; {{frida?.dateCreation}}</div>
            <div style="text-align: center; font-size: 1.2rem;">
                <div style="text-align: center">
                    <span>فريضة</span>&nbsp;
                    <span *ngIf="frida?.defunt.extraitNaissance.sexe == 'ذكر'; else feminin">المرحوم</span>
                    <ng-template #feminin>المرحومة</ng-template>
                    &nbsp;:&nbsp;<span
                        class="vert">{{frida?.defunt.extraitNaissance.nom}}</span>&nbsp;<bdi>{{frida?.defunt.extraitNaissance.sexe
                        == 'ذكر'? 'بن' : 'بنت'}}</bdi>&nbsp;{{frida?.defunt.extraitNaissance.pere}}
                </div>
            </div>
            <hr>
            <div><span>امام الاستاذ : </span>&nbsp;{{frida?.notaire}}<span>&nbsp;الممضي اسفله. </span>&nbsp;</div>
            <div style="text-align: center">حضر</div>
        </section>
        <!-- Les temoins ---------------- -->
        <section class="temoins">
            @for (temoin of temoins; track temoin; let i = $index) {
            <!--                <div>-->
            <!--                    <span> {{ i + 1 }})&nbsp;-&nbsp;</span>&nbsp;<span>السيد</span><span *ngIf="temoin.identite.sexe != 'ذكر'">ة</span>&nbsp;-->
            <!--                    <span class="vert">{{temoin.identite.nom}}</span>&nbsp;<span class="vert">{{temoin.identite.prenom}}</span>،-->
            <!--                    <span> من جنسية جزائرية.</span>-->
            <!--                    &nbsp;<span>المولود</span><span *ngIf="temoin.identite.sexe != 'ذكر'">ة</span>-->
            <!--                    &nbsp;<span>بتاريخ</span>&nbsp;<span>{{temoin.identite.dateNaissance}}</span>،-->
            <!--                    &nbsp;<span>الساكن</span><span *ngIf="temoin.identite.sexe != 'ذكر'">ة</span>-->
            <!--                    &nbsp;<span>ب</span><span>{{temoin.adresse}}</span>.-->
            <!--                </div>-->
            <div>
                <span> {{ i + 1 }})&nbsp;-&nbsp;</span>&nbsp;<span>السيد</span><span
                    *ngIf="temoin.extraitNaissance.sexe != 'ذكر'">ة</span>&nbsp;
                <span class="vert">{{temoin.extraitNaissance.nom}}</span>&nbsp;،
                <span> من جنسية جزائرية.</span>
                &nbsp;<span>المولود</span><span *ngIf="temoin.extraitNaissance.sexe != 'ذكر'">ة</span>
                &nbsp;<span>بتاريخ</span>&nbsp;<span>{{temoin.extraitNaissance.dateNaissance}}</span>،
                &nbsp;<span>الساكن</span><span *ngIf="temoin.extraitNaissance.sexe != 'ذكر'">ة</span>
                &nbsp;<span>ب</span><span>{{temoin.adresse}}</span>.
            </div>
            }
        </section>

        <!-- Le défunt ------------------- -->
        <section class="defunt">
            <span>بمعرفتهما معرفة تامة للمرحوم</span><span
                *ngIf="frida?.defunt.extraitNaissance.sexe != 'ذكر'">ة</span><span> : </span>
            &nbsp;<span class="vert">{{frida?.defunt.extraitNaissance.nom}}</span>
            &nbsp;<span>بن</span><span
                *ngIf="frida?.defunt.extraitNaissance.sexe != 'ذكر'">ت</span>&nbsp;{{frida?.defunt.extraitNaissance.pere}}
            &nbsp;<span>و</span>&nbsp;{{frida?.defunt.extraitNaissance.mere}}،
            &nbsp;<span>المولود</span><span *ngIf="frida?.defunt.extraitNaissance.sexe != 'ذكر'">ة</span>
            &nbsp;{{frida?.defunt.extraitNaissance.lieuNaissance}}
            &nbsp;<span>ولاية&nbsp;</span>{{frida?.defunt.extraitNaissance.wilaya}}
            &nbsp;<span>بتاريخ</span>&nbsp;<span>{{frida?.defunt.extraitNaissance.dateNaissance}}،</span>
            &nbsp;<span>من جنسية جزائرية. شهادة ميلاده</span>
            <span *ngIf="frida?.defunt.extraitNaissance.sexe != 'ذكر'">ا</span>
            &nbsp;<span>رقم&nbsp;</span>{{frida?.defunt.extraitNaissance.numeroPiece}}.
        </section>

        <!-- Présentations des héritiers ------------ -->
        <section class="heritiers">
            @for (heritier of heritiers; track heritier) {
            <div>
                @if (heritier.numParente==2) {
                <!-- Conjoint -->
                <span>1)&nbsp;-&nbsp;</span><span
                    *ngIf="frida?.defunt.extraitNaissance.sexe == 'ذكر'; else femininConjoint">ارملته</span>
                <ng-template #femininConjoint>ارملها</ng-template>&nbsp;
                } @else if (heritier.numParente==3) {
                <!-- Enfants -->

                <span>ابن</span><span *ngIf="heritier.extraitNaissance.sexe != 'ذكر'">ت</span><span>ه</span>
                <span *ngIf="frida?.defunt.extraitNaissance.sexe != 'ذكر'">ا</span>&nbsp;
                }
                &nbsp;<span>السيد</span><span *ngIf="heritier.extraitNaissance.sexe != 'ذكر'">ة</span>
                &nbsp;<span class="vert">{{heritier.extraitNaissance.nom}}</span>،
                &nbsp;<span>المولود</span><span *ngIf="heritier.extraitNaissance.sexe != 'ذكر'">ة</span>
                &nbsp;{{heritier.extraitNaissance.lieuNaissance}}
                &nbsp;<span>ولاية</span>&nbsp;{{heritier.extraitNaissance.wilaya}}
                <span>بتاريخ</span>&nbsp;<span>{{heritier.extraitNaissance.dateNaissance}}،</span>
                &nbsp;<span>من جنسية جزائرية. شهادة ميلاده</span>
                <span *ngIf="heritier.extraitNaissance.sexe != 'ذكر'">ا</span>
                &nbsp;<span>رقم&nbsp;</span>{{heritier.extraitNaissance.numeroPiece}}.

                <div><!-- texte "Enfants avec le conjoint sont :" masculin/féminin-->
                    @if (heritier.numParente==2) {
                    <span>2)&nbsp;-&nbsp;</span><span
                        *ngIf="frida?.defunt.extraitNaissance.sexe == 'ذكر'; else femininConjoint">ابناوه منها وهم
                        :</span>
                    <ng-template #femininConjoint>ابناوها منه وهم :</ng-template>&nbsp;
                    }
                </div>
            </div>
            }

            <!-- parts des héritiers------------------------------------- -->

            <!-- Introduction Fraction  -->
            @if (frida?.calcul.nbConjoints!=0 || frida?.calcul.nbGarcons!=0 || frida?.calcul.nbFilles!=0) {
            <!--s'il y a des héritiers-->
            <span>&nbsp;-&nbsp;</span>
            @if ((frida?.calcul.nbGarcons!=0 || frida?.calcul.nbFilles!=0) && (heritiers?.[1])) {
            <!--s'il y a des enfants-->
            <span>و بطلب من السيد</span><span *ngIf="heritiers[1]?.extraitNaissance.sexe != 'ذكر'">ة</span>
            &nbsp;<span class="vert">{{heritiers[1]?.extraitNaissance.nom}}</span>
            } @else { <!--si uniquement conjoint-->
            @if (heritiers?.[0]) {
            &nbsp;<span>و بطلب من السيد</span><span *ngIf="heritiers[0]?.extraitNaissance.sexe != 'ذكر'">ة</span>
            &nbsp;<span class="vert">{{heritiers[0]?.extraitNaissance.nom}}</span>
            }}
            <span> احدى الورثة المذكورين اعلاه استعملت الفريضة فصحت بعد العمل و الحساب والاختزال </span>&nbsp;
            {{denominateur_L}}
            <span>جزء او رقما&nbsp;</span>

            (<strong><span>{{frida?.calcul.denominateur}}/</span><span>{{frida?.calcul.denominateur}}</span></strong>).
            <br />
            <span>ناب لكل واحد من الورثة المذكورين اعلاه : </span>
            }
        </section>

        <!--Parts-->
        <section class="parts">
            @if (frida?.calcul.nbConjoints != 0) { <!-- Part conjoint -->
            <div>
                <span>&nbsp;-&nbsp;</span><span
                    *ngIf="frida?.defunt.extraitNaissance.sexe == 'ذكر'; else femininConjoint">ارملته</span>
                <ng-template #femininConjoint>ارملها</ng-template>
                @if (heritiers?.[0]) {
                &nbsp;<span>السيد</span><span *ngIf="heritiers[0]?.extraitNaissance.sexe != 'ذكر'">ة</span>
                :&nbsp;<span class="vert">{{heritiers[0]?.extraitNaissance.nom}}</span>
                }
                {{numerateurConjoint_L}}
                <span>&nbsp;جزء او
                    رقما&nbsp;</span><span>(<strong>{{frida?.calcul.denominateur}}/{{frida?.calcul.numerateurConjoint}}</strong>)</span>
            </div>
            }

            @if (frida?.calcul.nbGarcons != 0) { <!-- Part garçons -->
            <div>
                <span>&nbsp;-&nbsp;</span><span>ابناء</span>
                <span> المرحوم</span><span *ngIf="frida?.defunt.extraitNaissance.sexe != 'ذكر'">ة</span><span> : </span>
                ( @for (heritier of heritiers; track heritier.id) {
                @if (heritier.numParente>2 && heritier.extraitNaissance.sexe == 'ذكر') {
                <span class="vert">{{heritier.extraitNaissance.nom}}،&nbsp;</span>
                }
                })
                {{numerateurGarcons_L}}
                <span>&nbsp;جزء او
                    رقما&nbsp;</span><span>(<strong>{{frida?.calcul.denominateur}}/{{frida?.calcul.numerateurGarcons}}</strong></span>x<span>{{frida?.calcul.nbGarcons}}</span>)
            </div>
            }

            @if (frida?.calcul.nbFilles != 0) { <!-- Part filles -->
            <div>
                <span>&nbsp;-&nbsp;</span><span>بنات</span>
                <span> المرحوم</span><span *ngIf="frida?.defunt.extraitNaissance.sexe != 'ذكر'">ة</span><span> : </span>
                ( @for (heritier of heritiers; track heritier.id) {
                @if (heritier.numParente>2 && heritier.extraitNaissance.sexe != 'ذكر') {
                <span class="vert">{{heritier.extraitNaissance.nom}}،&nbsp;</span>
                }
                })
                {{numerateurFilles_L}}
                <span>&nbsp;جزء او
                    رقما&nbsp;</span><span>(<strong>{{frida?.calcul.denominateur}}/{{frida?.calcul.numerateurFilles}}</strong></span>x<span>{{frida?.calcul.nbFilles}})</span>
            </div>
            }
            @if (frida?.calcul.nbConjoints!=0 || frida?.calcul.nbGarcons!=0 || frida?.calcul.nbFilles!=0) {
            <!--s'il y a des héritiers-->
            <div><!-- Vérification numérateur -->
                <span>&nbsp;-&nbsp;</span><span>المجموع : </span>
                (<strong>{{numerateurVerif}}/{{frida?.calcul.denominateur}}</strong>)
            </div>
            }
        </section>

        <section>
            <div style="text-align: center">التاشير</div>
        </section>
    </article>
</main>