main {
    direction: rtl;
    font-size: 12pt;
    margin: 0;
    padding: 20px;
    }

.vert {
    color: springgreen;
}

@media print {
    button {
        display: none; /* Masque les boutons d'impression */
    }

    mat-card {
        page-break-inside: avoid; /* Assure une bonne mise en page */
    }
}